.results {
    display: flex;
    justify-content: stretch;
    height: 50px; 
  }
  
  .result {
    flex-grow: 1;
    margin: 5px;
    text-align: center;
  }
  
  .button {
    flex-grow: 1;
    margin: 5px;
    text-align: center;
    width: 30px;
  }
  
  .buttons {
    display: flex; 
  }
  
  .container {
    width: 400px;
    height: 400px;
    margin: auto;
  }
  
  .title {
    text-align: center;
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
  }